header {
    text-align: center;
    margin-top: 40px;
}

.collapse {
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
}

.picture {
    justify-content: left;
    align-items: left;
    margin-left: 300px;
}

.desc1 {
    text-align: left;
    margin-right: 300px;
    margin-left: 990px;
    font-family: gotham-light;
    margin-top: 50px;
    margin-bottom: 100px;
}

.title1 {
    text-align: left;
    margin-right: 300px;
    margin-left: 990px;
    margin-top: 80px;
}


.picture2 {
    justify-content: right;
    align-items: right;
    margin-right: 300px;
    margin-left: 990px;
    width: 100%;
}

.title2 {
    text-align: left;
    margin-left: 300px;
    margin-right: 990px;
    margin-top: 300px;
}

.desc2 {
    text-align: left;
    margin-left: 300px;
    margin-right: 990px;
    font-family: gotham-light;
    margin-bottom: 100px;
    margin-top: 50px;
}

.picture3 {
    justify-content: left;
    align-items: left;
    margin-left: 300px;
    margin-right: 990px;
    width: 100%;
}


.title3 {
    text-align: left;
    margin-right: 300px;
    margin-left: 990px;
    margin-top: 300px;
}

.desc3 {
    text-align: left;
    margin-right: 300px;
    margin-left: 990px;
    font-family: gotham-light;
    margin-bottom: 100px;
    margin-top: 50px;
}

.picture4 {
    justify-content: right;
    align-items: right;
    margin-right: 300px;
    margin-left: 990px;
    width: 100%;
}

.title4 {
    text-align: left;
    margin-left: 300px;
    margin-right: 990px;
    margin-top: 150px;
}

.desc4 {
    text-align: left;
    margin-left: 300px;
    margin-right: 990px;
    font-family: gotham-light;
    margin-bottom: 100px;
    margin-top: 30px;
}

.picture5 {
    justify-content: left;
    align-items: left;
    margin-left: 300px;
    margin-right: 990px;
    width: 100%;
}

.title5 {
    text-align: left;
    margin-right: 300px;
    margin-left: 990px;
    margin-top: 150px;
}

.desc5 {
    text-align: left;
    margin-right: 300px;
    margin-left: 990px;
    font-family: gotham-light;
    margin-bottom: 100px;
    margin-top: 30px;
}

.picture6 {
    justify-content: right;
    align-items: right;
    margin-right: 300px;
    margin-left: 990px;
    width: 100%;
}

.title6 {
    text-align: left;
    margin-left: 300px;
    margin-right: 990px;
    margin-top: 150px;
}

.desc6 {
    text-align: left;
    margin-left: 300px;
    margin-right: 990px;
    font-family: gotham-light;
    margin-bottom: 100px;
    margin-top: 30px;
}

.picture7 {
    justify-content: left;
    align-items: left;
    margin-left: 300px;
    margin-right: 990px;
    width: 100%;
}

.title7 {
    text-align: left;
    margin-right: 300px;
    margin-left: 990px;
    margin-top: 150px;
}

.desc7 {
    text-align: left;
    margin-right: 300px;
    margin-left: 990px;
    font-family: gotham-light;
    margin-bottom: 100px;
    margin-top: 30px;
}

.title {
    text-align: center;
    font-size: small;
}

.text2 {
    text-align: center;
    font-size: x-small;
}

.end {
    text-align: center;
    font-size: xx-small;
}
